# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
[Ll]ibrary/
sysinfo.txt
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
Desert Defence/Library/metadata/cf/cf8c1a6efc957584a8fdd9ecdecf1023
Desert Defence/Library/metadata/cf/cf1f9c73e8bac0b4ba72613e8848874c
Desert Defence/Library/metadata/c5/c53d226a6934b804a95bc6abb205ac3a
Desert Defence/Library/metadata/ba/ba73af425a8250044851e16bc0331c44
Desert Defence/Library/metadata/e3/e3414af2f9191904bb87f9f7481ff57d
Desert Defence/Library/metadata/c5/c53d226a6934b804a95bc6abb205ac3a
Desert Defence/Library/metadata/00/00000000000000003000000000000000
Desert Defence/Library/metadata/00/00000000000000007000000000000000
Desert Defence/Library/metadata/06/06c0b1426e52d8542b5465818f9c1516
Desert Defence/Library/metadata/e3/e3fe4c179aacc2d43b5fc5ae317bc84d
